//產生0~30px的margin
//ex: mt-0 = margin-top:0px
@for $i from 0 through 30 {
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
}

@for $i from 0 through 30 {
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
}

@for $i from 0 through 30 {
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
}

@for $i from 0 through 30 {
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
}

@for $i from 0 through 30 {
  .padding-#{$i} {
    padding: #{$i}px;
  }
}

@for $i from 0 through 30 {
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
}

@for $i from 0 through 30 {
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
}

@for $i from 0 through 30 {
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
}

@for $i from 0 through 30 {
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
}

@for $i from 0 through 30 {
  .py-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
}

@for $i from 0 through 30 {
  .px-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
}