//產生0~50px的margin
//ex: mt-0 = margin-top:0px
@for $i from 0 through 50 {
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
}

@for $i from 0 through 50 {
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
}

@for $i from 0 through 50 {
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
}

@for $i from 0 through 50 {
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
}

@for $i from 0 through 50 {
  .padding-#{$i} {
    padding: #{$i}px;
  }
}

@for $i from 0 through 50 {
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
}

@for $i from 0 through 50 {
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
}

@for $i from 0 through 50 {
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
}

@for $i from 0 through 50 {
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
}

@for $i from 0 through 50 {
  .py-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
}

@for $i from 0 through 50 {
  .px-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
}

@for $i from 0 through 50 {
  .font-size-#{$i} {
    font-size: #{$i}px;
  }
}

@for $i from 1 through 1000 {
  .h-#{$i} {
    height: #{$i}px;
  }
}