$font-default: 'Noto Sans TC', sans-serif;

$red: #f16565;
$red-hover: #ee5353;
$red-dark: #dc3545;

$green: #adba53;
$dark-green: #28a745;
$tree-green: #04A969;

$blue-light: #cfd8e6;
$blue: #4f84cf;
$blue-hover: #3a6db5;

$purple-light:#CCC5E1;
$purple: #6a53ba;
$purple-hover: #56419f;

$turquoise: #5eb7c8;
$turquoise-hover: #4aa5b6;

$slateblue: #7882a7;
$slateblue-hover: #646c8b;

$disabled: #CDD0DD;

$orange: #f39c10;

$black: #404040;

$text-spacecadet: #272d44;