@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');
$font-default: 'Noto Sans TC', sans-serif;;
@import "_for.scss";
@import "_element.scss";
@import "_custom.scss";
@import "_pages.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: $font-default;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
}

input, textarea, select, button {
  font-family: $font-default;
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}

.ul-reset {
  list-style-type: none;
  padding: 0;
}

button.btn-reset {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed
  }
}

//vue transition
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.slide-up-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-up-fade-leave-active {
  transition: all 0.3s ease-out;
}

.slide-up-fade-enter-from,
.slide-up-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.cdp-section {
  padding: 20px;
  border: 1px solid rgba(230, 234, 242, 1);
  border-radius: 5px;
  background-color: #fff;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.cdp-section-in {
  padding: 20px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  background-color: #fff;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.drop {
  &__top {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    &__item {
      width: 50%;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      &.full {width: 100%;}
    }
  }
}

.inline {display: inline;}
.flex {display: flex !important;}
.flex-row	{flex-direction: row;}
.flex-row-reverse	{flex-direction: row-reverse;}
.flex-col	{flex-direction: column;}
.flex-col-reverse	{flex-direction: column-reverse;}
.flex-wrap	{flex-wrap: wrap;}
.flex-wrap-reverse	{flex-wrap: wrap-reverse;}
.flex-nowrap	{flex-wrap: nowrap;}
.grow	{flex-grow: 1;}
.grow-0	{flex-grow: 0;}
.shrink	{flex-shrink: 1;}
.shrink-0	{flex-shrink: 0;}
.justify-start	{justify-content: flex-start;}
.justify-end	{justify-content: flex-end;}
.justify-center	{justify-content: center;}
.justify-between	{justify-content: space-between;}
.justify-around	{justify-content: space-around;}
.justify-evenly	{justify-content: space-evenly;}
.justify-items-start	{justify-items: start;}
.justify-items-end	{justify-items: end;}
.justify-items-center	{justify-items: center;}
.justify-items-stretch	{justify-items: stretch;}
.justify-self-auto	{justify-self: auto;}
.justify-self-start	{justify-self: start;}
.justify-self-end	{justify-self: end;}
.justify-self-center	{justify-self: center;}
.justify-self-stretch	{justify-self: stretch;}
.content-center	{align-content: center;}
.content-start	{align-content: flex-start;}
.content-end	{align-content: flex-end;}
.content-between	{align-content: space-between;}
.content-around	{align-content: space-around;}
.content-evenly	{align-content: space-evenly;}
.content-baseline	{align-content: baseline;}
.items-start	{align-items: flex-start;}
.items-end	{align-items: flex-end;}
.items-center	{align-items: center;}
.items-baseline	{align-items: baseline;}
.items-stretch	{align-items: stretch;}
.self-auto	{align-self: auto;}
.self-start	{align-self: flex-start;}
.self-end	{align-self: flex-end;}
.self-center	{align-self: center;}
.self-stretch	{align-self: stretch;}
.self-baseline	{align-self: baseline;}
.text-left	{text-align: left;}
.text-center	{text-align: center;}
.text-right	{text-align: right;}
.text-justify	{text-align: justify;}
.text-start	{text-align: start;}
.text-end	{text-align: end;}
.cursor-default {cursor: default;}
.cursor-pointer {	cursor: pointer;}
.static {position: static;}
.fixed {position: fixed;}
.absolute	{position: absolute;}
.relative	{position: relative;}
.sticky	{position: sticky;}
.font-thin {font-weight: 100;}
.font-extralight {font-weight: 200;}
.font-light {font-weight: 300;}
.font-normal {font-weight: 400;}
.font-medium {font-weight: 500;}
.font-semibold {font-weight: 600;}
.font-bold {font-weight: 700;}
.font-extrabold {font-weight: 800;}
.font-black {font-weight: 900;}
.underline	{text-decoration-line: underline;}
.overline	{text-decoration-line: overline;}
.line-through	{text-decoration-line: line-through;}
.no-underline	{text-decoration-line: none;}
.w-full {width: 100%;}
